# Ignore build artifacts and temporary files
/obj
/bin
StringManipulation/obj/project.assets.json
StringManipulation/obj/project.nuget.cache
StringManipulation/obj/StringManipulation.csproj.nuget.dgspec.json
StringManipulation/obj/StringManipulation.csproj.nuget.g.props
StringManipulation/obj/StringManipulation.csproj.nuget.g.targets
StringManipulation/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
StringManipulation/obj/Debug/net8.0/apphost
StringManipulation/obj/Debug/net8.0/StringManipulation.AssemblyInfo.cs
StringManipulation/obj/Debug/net8.0/StringManipulation.AssemblyInfoInputs.cache
StringManipulation/obj/Debug/net8.0/StringManipulation.assets.cache
StringManipulation/obj/Debug/net8.0/StringManipulation.csproj.CoreCompileInputs.cache
StringManipulation/obj/Debug/net8.0/StringManipulation.csproj.FileListAbsolute.txt
StringManipulation/obj/Debug/net8.0/StringManipulation.dll
StringManipulation/obj/Debug/net8.0/StringManipulation.GeneratedMSBuildEditorConfig.editorconfig
StringManipulation/obj/Debug/net8.0/StringManipulation.genruntimeconfig.cache
StringManipulation/obj/Debug/net8.0/StringManipulation.GlobalUsings.g.cs
StringManipulation/obj/Debug/net8.0/StringManipulation.pdb
StringManipulation/obj/Debug/net8.0/StringManipulation.sourcelink.json
StringManipulation/obj/Debug/net8.0/ref/StringManipulation.dll
StringManipulation/obj/Debug/net8.0/refint/StringManipulation.dll
StringManipulation/bin/Debug/net8.0/StringManipulation
StringManipulation/bin/Debug/net8.0/StringManipulation.deps.json
StringManipulation/bin/Debug/net8.0/StringManipulation.dll
StringManipulation/bin/Debug/net8.0/StringManipulation.pdb
StringManipulation/bin/Debug/net8.0/StringManipulation.runtimeconfig.json
